@charset "UTF-8";

@font-face {
  font-family: "linea-basic-10";
  src:url("fonts/linea-basic-10.eot");
  src:url("fonts/linea-basic-10.eot?#iefix") format("embedded-opentype"),
    url("fonts/linea-basic-10.woff") format("woff"),
    url("fonts/linea-basic-10.ttf") format("truetype"),
    url("fonts/linea-basic-10.svg#linea-basic-10") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "linea-basic-10" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-basic"]:before,
[class*=" icon-basic"]:before {
  font-family: "linea-basic-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basic-accelerator:before {
  content: "a";
}
.icon-basic-alarm:before {
  content: "b";
}
.icon-basic-anchor:before {
  content: "c";
}
.icon-basic-anticlockwise:before {
  content: "d";
}
.icon-basic-archive:before {
  content: "e";
}
.icon-basic-archive-full:before {
  content: "f";
}
.icon-basic-ban:before {
  content: "g";
}
.icon-basic-battery-charge:before {
  content: "h";
}
.icon-basic-battery-empty:before {
  content: "i";
}
.icon-basic-battery-full:before {
  content: "j";
}
.icon-basic-battery-half:before {
  content: "k";
}
.icon-basic-bolt:before {
  content: "l";
}
.icon-basic-book:before {
  content: "m";
}
.icon-basic-book-pen:before {
  content: "n";
}
.icon-basic-book-pencil:before {
  content: "o";
}
.icon-basic-bookmark:before {
  content: "p";
}
.icon-basic-calculator:before {
  content: "q";
}
.icon-basic-calendar:before {
  content: "r";
}
.icon-basic-cards-diamonds:before {
  content: "s";
}
.icon-basic-cards-hearts:before {
  content: "t";
}
.icon-basic-case:before {
  content: "u";
}
.icon-basic-chronometer:before {
  content: "v";
}
.icon-basic-clessidre:before {
  content: "w";
}
.icon-basic-clock:before {
  content: "x";
}
.icon-basic-clockwise:before {
  content: "y";
}
.icon-basic-cloud:before {
  content: "z";
}
.icon-basic-clubs:before {
  content: "A";
}
.icon-basic-compass:before {
  content: "B";
}
.icon-basic-cup:before {
  content: "C";
}
.icon-basic-diamonds:before {
  content: "D";
}
.icon-basic-display:before {
  content: "E";
}
.icon-basic-download:before {
  content: "F";
}
.icon-basic-exclamation:before {
  content: "G";
}
.icon-basic-eye:before {
  content: "H";
}
.icon-basic-eye-closed:before {
  content: "I";
}
.icon-basic-female:before {
  content: "J";
}
.icon-basic-flag1:before {
  content: "K";
}
.icon-basic-flag2:before {
  content: "L";
}
.icon-basic-floppydisk:before {
  content: "M";
}
.icon-basic-folder:before {
  content: "N";
}
.icon-basic-folder-multiple:before {
  content: "O";
}
.icon-basic-gear:before {
  content: "P";
}
.icon-basic-geolocalize-01:before {
  content: "Q";
}
.icon-basic-geolocalize-05:before {
  content: "R";
}
.icon-basic-globe:before {
  content: "S";
}
.icon-basic-gunsight:before {
  content: "T";
}
.icon-basic-hammer:before {
  content: "U";
}
.icon-basic-headset:before {
  content: "V";
}
.icon-basic-heart:before {
  content: "W";
}
.icon-basic-heart-broken:before {
  content: "X";
}
.icon-basic-helm:before {
  content: "Y";
}
.icon-basic-home:before {
  content: "Z";
}
.icon-basic-info:before {
  content: "0";
}
.icon-basic-ipod:before {
  content: "1";
}
.icon-basic-joypad:before {
  content: "2";
}
.icon-basic-key:before {
  content: "3";
}
.icon-basic-keyboard:before {
  content: "4";
}
.icon-basic-laptop:before {
  content: "5";
}
.icon-basic-life-buoy:before {
  content: "6";
}
.icon-basic-lightbulb:before {
  content: "7";
}
.icon-basic-link:before {
  content: "8";
}
.icon-basic-lock:before {
  content: "9";
}
.icon-basic-lock-open:before {
  content: "!";
}
.icon-basic-magic-mouse:before {
  content: "\"";
}
.icon-basic-magnifier:before {
  content: "#";
}
.icon-basic-magnifier-minus:before {
  content: "$";
}
.icon-basic-magnifier-plus:before {
  content: "%";
}
.icon-basic-mail:before {
  content: "&";
}
.icon-basic-mail-multiple:before {
  content: "'";
}
.icon-basic-mail-open:before {
  content: "(";
}
.icon-basic-mail-open-text:before {
  content: ")";
}
.icon-basic-male:before {
  content: "*";
}
.icon-basic-map:before {
  content: "+";
}
.icon-basic-message:before {
  content: ",";
}
.icon-basic-message-multiple:before {
  content: "-";
}
.icon-basic-message-txt:before {
  content: ".";
}
.icon-basic-mixer2:before {
  content: "/";
}
.icon-basic-mouse:before {
  content: ":";
}
.icon-basic-notebook:before {
  content: ";";
}
.icon-basic-notebook-pen:before {
  content: "<";
}
.icon-basic-notebook-pencil:before {
  content: "=";
}
.icon-basic-paperplane:before {
  content: ">";
}
.icon-basic-pencil-ruler:before {
  content: "?";
}
.icon-basic-pencil-ruler-pen:before {
  content: "@";
}
.icon-basic-photo:before {
  content: "[";
}
.icon-basic-picture:before {
  content: "]";
}
.icon-basic-picture-multiple:before {
  content: "^";
}
.icon-basic-pin1:before {
  content: "_";
}
.icon-basic-pin2:before {
  content: "`";
}
.icon-basic-postcard:before {
  content: "{";
}
.icon-basic-postcard-multiple:before {
  content: "|";
}
.icon-basic-printer:before {
  content: "}";
}
.icon-basic-question:before {
  content: "~";
}
.icon-basic-rss:before {
  content: "\\";
}
.icon-basic-server:before {
  content: "\e000";
}
.icon-basic-server2:before {
  content: "\e001";
}
.icon-basic-server-cloud:before {
  content: "\e002";
}
.icon-basic-server-download:before {
  content: "\e003";
}
.icon-basic-server-upload:before {
  content: "\e004";
}
.icon-basic-settings:before {
  content: "\e005";
}
.icon-basic-share:before {
  content: "\e006";
}
.icon-basic-sheet:before {
  content: "\e007";
}
.icon-basic-sheet-multiple:before {
  content: "\e008";
}
.icon-basic-sheet-pen:before {
  content: "\e009";
}
.icon-basic-sheet-pencil:before {
  content: "\e00a";
}
.icon-basic-sheet-txt:before {
  content: "\e00b";
}
.icon-basic-signs:before {
  content: "\e00c";
}
.icon-basic-smartphone:before {
  content: "\e00d";
}
.icon-basic-spades:before {
  content: "\e00e";
}
.icon-basic-spread:before {
  content: "\e00f";
}
.icon-basic-spread-bookmark:before {
  content: "\e010";
}
.icon-basic-spread-text:before {
  content: "\e011";
}
.icon-basic-spread-text-bookmark:before {
  content: "\e012";
}
.icon-basic-star:before {
  content: "\e013";
}
.icon-basic-tablet:before {
  content: "\e014";
}
.icon-basic-target:before {
  content: "\e015";
}
.icon-basic-todo:before {
  content: "\e016";
}
.icon-basic-todo-pen:before {
  content: "\e017";
}
.icon-basic-todo-pencil:before {
  content: "\e018";
}
.icon-basic-todo-txt:before {
  content: "\e019";
}
.icon-basic-todolist-pen:before {
  content: "\e01a";
}
.icon-basic-todolist-pencil:before {
  content: "\e01b";
}
.icon-basic-trashcan:before {
  content: "\e01c";
}
.icon-basic-trashcan-full:before {
  content: "\e01d";
}
.icon-basic-trashcan-refresh:before {
  content: "\e01e";
}
.icon-basic-trashcan-remove:before {
  content: "\e01f";
}
.icon-basic-upload:before {
  content: "\e020";
}
.icon-basic-usb:before {
  content: "\e021";
}
.icon-basic-video:before {
  content: "\e022";
}
.icon-basic-watch:before {
  content: "\e023";
}
.icon-basic-webpage:before {
  content: "\e024";
}
.icon-basic-webpage-img-txt:before {
  content: "\e025";
}
.icon-basic-webpage-multiple:before {
  content: "\e026";
}
.icon-basic-webpage-txt:before {
  content: "\e027";
}
.icon-basic-world:before {
  content: "\e028";
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 60%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 52.5%; } }

body {
  padding: 3rem;
  box-sizing: border-box; }
  @media only screen and (max-width: 75em) {
    body {
      padding: 1.5rem; } }
  @media only screen and (max-width: 75em) {
    body {
      font-size: 1rem; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

body {
  font-family: 'Muli', sans-serif;
  /* font-size: 16px; */
  line-height: 1.7;
  position: relative; }

.heading__primary {
  color: #ecf0f1;
  text-transform: uppercase;
  margin-bottom: 4rem; }
  .heading__primary-main {
    font-size: 4rem;
    display: block;
    letter-spacing: 5px;
    animation: moveInLeft 1s ease-out; }
    .heading__primary-main:not(:last-child) {
      margin-bottom: .5rem; }
  .heading__primary-sub {
    font-size: 2.5rem;
    display: block;
    letter-spacing: 3px;
    backface-visibility: hidden;
    animation: moveInRight 1s ease-out; }

.heading__secondary {
  color: #07b0fc;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 1rem; }

.heading__tertiary {
  font-size: 2.5rem;
  letter-spacing: 2px;
  text-transform: uppercase; }
  .heading__tertiary--1 {
    color: #32cd32; }
  .heading__tertiary--2 {
    color: #07b0fc; }
  .heading__tertiary--3 {
    color: #fe5c5c; }

.header {
  display: block;
  position: relative;
  height: 90vh; }
  .header__video {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%); }
    @media only screen and (max-width: 75em) {
      .header__video {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); } }
  .header__video-content {
    position: absolute;
    z-index: -5;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header__video-cover {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right bottom, rgba(7, 176, 252, 0.3), rgba(7, 176, 252, 0.5)); }
  .header__logo-box {
    padding: 1rem 2rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5; }
  .header__logo {
    font-size: 7rem;
    color: #ecf0f1;
    font-weight: bold; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: block;
    width: 100%; }

.footer {
  background-color: rgba(0, 0, 0, 0.8);
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  color: #ecf0f1;
  grid-template-areas: "brand brand" "links details"; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      grid-template-columns: 1fr;
      grid-template-rows: 2fr 1fr 1fr;
      grid-template-areas: "brand" "links" "details"; } }
  .footer__brand {
    grid-area: brand;
    justify-self: center;
    align-self: center;
    font-weight: bold; }
  .footer__logo {
    font-size: 5rem;
    text-align: center; }
  .footer__text {
    text-align: center;
    font-size: 2rem; }
  .footer__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none; }
  .footer__item {
    border-top: 1px solid white;
    padding-top: 1rem; }
    .footer__item:not(:last-child) {
      padding-right: 5rem; }
  .footer__link {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 1.6rem; }
  .footer__details {
    justify-self: center;
    align-self: center;
    font-size: 1.6rem;
    padding-top: 1rem;
    border-top: 1px solid #ecf0f1; }

.btn {
  padding: 12px 35px;
  font-weight: bold; }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.5rem;
    border: none;
    cursor: pointer; }
  .btn:hover {
    transform: translateY(-1px);
    box-shadow: 0 1rem 2rem rgba(7, 176, 252, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn--primaryBg {
    background-color: #07b0fc; }
    .btn--primaryBg::after {
      background-color: #07b0fc; }
  .btn--tertiaryBg {
    background-color: #32cd32; }
    .btn--tertiaryBg::after {
      background-color: #32cd32; }
  .btn--quinaryBg {
    background-color: #9291B6;
    padding: 12px 35px;
    font-weight: bold; }
    .btn--quinaryBg::after {
      background-color: #9291B6; }
  .btn--tertiaryBg {
    background-color: #32cd32; }
    .btn--tertiaryBg::after {
      background-color: #32cd32; }
  .btn--quarternaryBg {
    background-color: #fe5c5c;
    padding: 12px 35px;
    font-weight: bold; }
    .btn--quarternaryBg::after {
      background-color: #fe5c5c; }
  .btn--whiteBg {
    background-color: #ecf0f1;
    padding: 12px 35px;
    font-weight: bold; }
    .btn--whiteBg::after {
      background-color: #ecf0f1; }
  .btn--primary {
    color: #07b0fc; }
  .btn--secondary {
    color: #ecf0f1; }
  .btn--quarternary {
    color: #fe5c5c; }
  .btn--tertiary {
    color: #32cd32; }
  .btn::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }
  .btn--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards; }

.grid-stack {
  padding-top: 25rem;
  display: grid;
  width: 70%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 300px;
  gap: 5rem; }
  @media only screen and (max-width: 75em) {
    .grid-stack {
      padding: 5rem;
      grid-template-columns: 1fr 1fr;
      width: 90%;
      gap: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .grid-stack {
      grid-template-columns: 1fr;
      width: 90%;
      grid-auto-rows: 250px; } }

.grid-projects {
  width: 90%;
  margin: auto;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 550px;
  gap: 5rem;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 75em) {
    .grid-projects {
      grid-template-columns: 1fr;
      width: 60%;
      gap: 3rem;
      grid-auto-rows: auto; } }
  @media only screen and (max-width: 37.5em) {
    .grid-projects {
      grid-template-columns: 1fr;
      padding: 1rem;
      width: 90%; } }

.stack-box {
  width: 100%;
  height: 100%;
  background-color: rgba(7, 176, 252, 0.4);
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 3px 3px rgba(7, 176, 252, 0.4);
  border-radius: 3px;
  transition: .5s;
  position: relative;
  border: 1px solid #ecf0f1; }
  .stack-box:hover {
    transform: translateY(-10px); }
  .stack-box__icon {
    display: inlie-block;
    font-size: 5rem;
    color: #ecf0f1; }
  .stack-box__title {
    font-size: 2rem;
    text-transform: uppercase;
    color: #ecf0f1;
    margin-top: .5rem; }
  .stack-box__text {
    font-size: 1.7rem;
    color: #ecf0f1; }
    .stack-box__text:not(:last-child) {
      margin-bottom: .25rem; }

.card {
  position: relative;
  perspective: 150rem;
  transition: all .5s ease;
  width: 100%;
  height: 100%; }
  .card__side {
    transition: all .5s ease;
    box-shadow: 0 2px 10px rgba(146, 145, 182, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(-180deg);
      text-align: center; }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, rgba(50, 205, 50, 0.6), rgba(50, 205, 50, 0.8)); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, rgba(7, 176, 252, 0.6), rgba(7, 176, 252, 0.8)); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, rgba(254, 92, 92, 0.6), rgba(254, 92, 92, 0.8)); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%; }
  .card__description {
    font-size: 1.8rem;
    color: #ecf0f1;
    font-weight: bold;
    display: block;
    margin: 2rem; }
  .card__picture {
    height: 250px;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    overflow: hidden;
    margin-bottom: 2rem; }
    .card__picture-1 {
      background-position: center;
      background-size: cover;
      background-image: linear-gradient(to right bottom, rgba(50, 205, 50, 0.4), rgba(50, 205, 50, 0.7)), url(https://i.imgur.com/x2xVES4.jpg); }
    .card__picture-2 {
      background-position: center;
      background-size: cover;
      background-image: linear-gradient(to right bottom, rgba(7, 176, 252, 0.4), rgba(7, 176, 252, 0.7)), url(https://i.imgur.com/TZ33xvO.jpg); }
    .card__picture-3 {
      background-position: center;
      background-size: cover;
      background-image: linear-gradient(to right bottom, rgba(254, 92, 92, 0.4), rgba(254, 92, 92, 0.7)), url(https://i.imgur.com/RmILOGk.jpg); }
  .card__heading {
    display: inline-block;
    position: absolute;
    top: 170px;
    right: 15px;
    font-size: 2.4rem;
    text-transform: uppercase;
    background: #ecf0f1; }
    .card__heading-span {
      padding: .5rem 1rem;
      display: inline-block;
      letter-spacing: 3px;
      border-radius: 3px;
      color: #ecf0f1; }
      .card__heading-span--1 {
        background-image: linear-gradient(to right bottom, rgba(50, 205, 50, 0.5), rgba(50, 205, 50, 0.8)); }
      .card__heading-span--2 {
        background-image: linear-gradient(to right bottom, rgba(7, 176, 252, 0.5), rgba(7, 176, 252, 0.8)); }
      .card__heading-span--3 {
        background-image: linear-gradient(to right bottom, rgba(254, 92, 92, 0.5), rgba(254, 92, 92, 0.8)); }
  .card__list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.6rem;
    width: 80%;
    margin: auto; }
  .card__item {
    text-align: center;
    padding: 1.2rem 0;
    color: #9291B6;
    font-weight: bold; }
    .card__item:not(:last-child) {
      border-bottom: 1px solid rgba(146, 145, 182, 0.5); }
  @media only screen and (max-width: 75em) {
    .card {
      background-color: #fff;
      box-shadow: 0 2px 10px rgba(146, 145, 182, 0.4); }
      .card__side {
        transition: all .5s ease;
        box-shadow: none;
        position: relative;
        backface-visibility: hidden;
        border-radius: 5px; }
        .card__side--front {
          height: auto;
          padding: 2rem 0; }
        .card__side--back {
          transform: rotateY(0deg);
          height: 200px;
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0deg); }
      .card__heading {
        top: 140px;
        right: 15px; }
      .card__picture {
        height: 200px; } }

.popup {
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: all .5s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__content {
    width: 90%;
    height: 80%;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-areas: "video details"; }
    @media only screen and (max-width: 75em) {
      .popup__content {
        height: 90%;
        grid-template-columns: 1fr;
        grid-template-areas: "video" "details"; } }
  .popup__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    text-decoration: none;
    color: #9291B6; }
    .popup__close:hover {
      font-weight: bold; }
    @media only screen and (max-width: 75em) {
      .popup__close {
        top: 1rem; } }
  .popup__video {
    grid-area: video;
    position: absolute;
    z-index: -5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%; }
    @media only screen and (max-width: 75em) {
      .popup__video {
        position: relative;
        height: 50%;
        width: 50%; } }
    @media only screen and (max-width: 37.5em) {
      .popup__video {
        position: relative;
        height: 30%;
        width: 50%; } }
  .popup__details {
    grid-area: details;
    padding: 2rem 2rem 2rem 8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%; }
    @media only screen and (max-width: 75em) {
      .popup__details {
        padding: 2rem; } }
  .popup__links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .popup__links a:not(:last-child) {
      margin-bottom: 2rem; }
  .popup__stack {
    font-size: 2rem; }
  .popup__para {
    font-size: 1.6rem;
    margin-bottom: 1rem; }

.about {
  width: 80%;
  margin: 5rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  @media only screen and (max-width: 75em) {
    .about {
      grid-template-columns: 1fr;
      margin: 2rem auto; } }
  .about__image {
    width: 310px;
    height: auto;
    justify-self: center;
    margin-bottom: 2rem; }
  .about__content {
    align-self: center; }
    .about__content--title {
      font-size: 2.5rem;
      font-weight: bold;
      color: #07b0fc; }
    .about__content--para {
      font-size: 1.6rem;
      display: block;
      font-weight: bold;
      color: #9291B6; }
      .about__content--para:not(:last-child) {
        margin-bottom: 2rem; }

.section-about {
  min-height: 70vh; }

.section-stack {
  min-height: 120vh;
  width: 100%;
  position: relative; }
  .section-stack__background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
    background-image: linear-gradient(to right bottom, rgba(7, 176, 252, 0.5), rgba(7, 176, 252, 0.8)), url(https://wallpapersite.com/images/pages/pic_h/4146.jpg);
    background-size: cover;
    z-index: -1; }
    @media only screen and (max-width: 75em) {
      .section-stack__background {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); } }

.section-projects {
  min-height: 120vh;
  width: 100%;
  margin-top: 5rem; }
