.btn {
  padding: 12px 35px;
  font-weight: bold;

  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.5rem;

    //Change for button element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 1rem 2rem rgba($color-primary, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }


  &--primaryBg {
    background-color: $color-primary;

    &::after {
      background-color: $color-primary;
    }
  }

  &--tertiaryBg {
    background-color: $color-tertiary;

    &::after {
      background-color: $color-tertiary;
    }
  }

  &--quinaryBg {
    background-color: $color-quinary;
    padding: 12px 35px;
    font-weight: bold;

    &::after {
      background-color: $color-quinary;
    }
  }


  &--tertiaryBg {
    background-color: $color-tertiary;


    &::after {
      background-color: $color-tertiary;
    }
  }

  &--quarternaryBg {
    background-color: $color-quarternary;
    padding: 12px 35px;
    font-weight: bold;

    &::after {
      background-color: $color-quarternary;
    }
  }


  &--whiteBg {
    background-color: $color-secondary;
    padding: 12px 35px;
    font-weight: bold;

    &::after {
      background-color: $color-secondary;
    }
  }

  &--primary {
    color: $color-primary;
  }

  &--secondary {
    color: $color-secondary;
  }

  &--quarternary {
    color: $color-quarternary;
  }

  &--tertiary {
    color: $color-tertiary;
  }


  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}