.card {
  position: relative;
  perspective: 150rem;
  transition: all .5s ease;
  width: 100%;
  height: 100%;

  &__side {
    transition: all .5s ease;
    box-shadow: 0 2px 10px rgba($color-quinary, .4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;

    &--front {
      background-color: $color-background;
    }

    &--back {
      transform: rotateY(-180deg);
      text-align: center;

      &-1 {
        background-image: linear-gradient(to right bottom, rgba($color-tertiary, .6), rgba($color-tertiary, .8));
      }

      &-2 {
        background-image: linear-gradient(to right bottom, rgba($color-primary, .6), rgba($color-primary, .8));
      }

      &-3 {
        background-image: linear-gradient(to right bottom, rgba($color-quarternary, .6), rgba($color-quarternary, .8));
      }
    }

  }

  &:hover &__side--front {
    transform: rotateY(180deg);

  }

  &:hover &__side--back {
    transform: rotateY(0deg);

  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  &__description {
    font-size: 1.8rem;
    color: $color-secondary;
    font-weight: bold;
    display: block;
    margin: 2rem;

  }

  &__picture {
    height: 250px;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    overflow: hidden;
    margin-bottom: 2rem;

    &-1 {
      background-position: center;
      background-size: cover;
      background-image: linear-gradient(to right bottom, rgba($color-tertiary, .4), rgba($color-tertiary, .7)),
        url(https://i.imgur.com/x2xVES4.jpg);
    }

    &-2 {
      background-position: center;
      background-size: cover;
      background-image: linear-gradient(to right bottom, rgba($color-primary, .4), rgba($color-primary, .7)),
        url(https://i.imgur.com/TZ33xvO.jpg);
    }

    &-3 {
      background-position: center;
      background-size: cover;
      background-image: linear-gradient(to right bottom, rgba($color-quarternary, .4), rgba($color-quarternary, .7)),
        url(https://i.imgur.com/RmILOGk.jpg);
    }
  }

  &__heading {
    display: inline-block;
    position: absolute;
    top: 170px;
    right: 15px;
    font-size: 2.4rem;
    text-transform: uppercase;
    background: $color-secondary;

    &-span {
      padding: .5rem 1rem;
      display: inline-block;
      letter-spacing: 3px;
      border-radius: 3px;
      color: $color-secondary;

      &--1 {
        background-image: linear-gradient(to right bottom, rgba($color-tertiary, .5), rgba($color-tertiary, .8));
      }

      &--2 {
        background-image: linear-gradient(to right bottom, rgba($color-primary, .5), rgba($color-primary, .8));
      }

      &--3 {
        background-image: linear-gradient(to right bottom, rgba($color-quarternary, .5), rgba($color-quarternary, .8));
      }
    }
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.6rem;
    width: 80%;
    margin: auto;
  }

  &__item {
    text-align: center;
    padding: 1.2rem 0;
    color: $color-quinary;
    font-weight: bold;

    &:not(:last-child) {
      border-bottom: 1px solid rgba($color-quinary, .5);
    }
  }

  @include respond(tablet) {
    background-color: $color-background;
    box-shadow: 0 2px 10px rgba($color-quinary, .4);

    &__side {
      transition: all .5s ease;
      box-shadow: none;
      position: relative;
      backface-visibility: hidden;
      border-radius: 5px;

      &--front {
        height: auto;
        padding: 2rem 0;
      }

      &--back {
        transform: rotateY(0deg);
        height: 200px;
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
      }

    }

    &:hover &__side--front {
      transform: rotateY(0deg);
    }

    &__heading {
      top: 140px;
      right: 15px;
    }
    &__picture {
      height: 200px;
    }
  }
}