.grid-stack {
  padding-top: 25rem;
  display: grid;
  width: 70%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 300px;
  gap: 5rem;

  @include respond(tablet) {
    padding: 5rem;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    gap: 3rem;
  }

  @include respond(phone) {
    grid-template-columns: 1fr;
    width: 90%;
    grid-auto-rows: 250px;
  }
}

.grid-projects {
  width: 90%;
  margin: auto;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 550px;
  gap: 5rem;
  margin-bottom: 2rem;

  @include respond(tablet) {
    grid-template-columns: 1fr;
    width: 60%;
    gap: 3rem;
    grid-auto-rows: auto;
  }

  @include respond(phone) {
    grid-template-columns: 1fr;
    padding: 1rem;
    width: 90%;
  }
}