.popup {
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, .8);
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: all .5s;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__content {
    width: 90%;
    height: 80%;
    box-shadow: 0 1rem 2rem rgba(0,0,0, .2);
    background-color: $color-background;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-areas: "video details";

    @include respond(tablet) {
      grid-template-columns: 1fr;
      grid-template-areas: 
      "video"
      "details";
    }
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    text-decoration: none;
    color: $color-quinary;

    &:hover {
      font-weight: bold;
    }

    @include respond(tablet) {
      top: 55%;
    }
  }

  &__video {
    grid-area: video;
    position: absolute;
    z-index: -5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;

    @include respond(tablet) {
      position: relative;
      height: 100%;
      width: 50%;
    }
  }

  &__details {
    grid-area: details;
    padding: 2rem 2rem 2rem 8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;

    @include respond(tablet) {
      padding: 2rem;
    }
  }

  &__links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    a {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }

  &__stack {
    font-size: 2rem;
  }

  &__para {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
}