.section-about {
  height: 90vh;
  display: block;
}

.section-stack {
  height: 130vh;
  width: 100%;
  position: relative;

  &__background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
    background-image: linear-gradient(
      to right bottom, rgba($color-primary, .5), rgba($color-primary, .8)),
      url(https://wallpapersite.com/images/pages/pic_h/4146.jpg);
    background-size: cover;
    z-index: -1;
  }
};

.section-projects {
  height: 100vh;
  width: 100%;
  margin-top: 5rem;
}