.section-about {
  min-height: 70vh;
}

.section-stack {
  min-height: 120vh;
  width: 100%;
  position: relative;

  &__background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
    background-image: linear-gradient(
      to right bottom, rgba($color-primary, .5), rgba($color-primary, .8)),
      url(https://wallpapersite.com/images/pages/pic_h/4146.jpg);
    background-size: cover;
    z-index: -1;

    @include respond(tablet) {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  }
};

.section-projects {
  min-height: 120vh;
  width: 100%;
  margin-top: 5rem;
}
